body{
    background-color: #202124;
    /* position: absolute; */
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
}

h1{
    background-image: url(../css/space_gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(250, 250, 187);
    font-family: 'Cute Font', cursive;
    text-align: center;
    margin-top: 0;
    padding: 30px;
    /* width: 100%; */
    font-size: 7em;
    border-radius: 0px;
}

.topic{
    margin-left: 15px;
    border-radius: 20px;
    background-color: rgb(102, 70, 102);
    color: rgb(250, 250, 187);
    font-family: 'Cute Font', cursive;
    font-size: 1.5em;
}

label{
    margin-left: 15px;
    color: rgb(250, 102, 49);
    font-family: 'Cute Font', cursive;
    font-size: 2em;
}

input{
    margin-left: 15px;
}

#topic-input{
    background-color: rgb(102, 70, 102);
    color: rgb(250, 250, 187);
    border-radius: 20px;
    font-family: 'Cute Font', cursive;
    font-size: 1.5em;
}

#add-topic{
    border-radius: 20px;
    background-color: rgb(102, 70, 102);
    color: rgb(250, 250, 187);
    font-family: 'Cute Font', cursive;
    font-size: 1.5em;
}

p{
    color: rgb(250, 102, 49);
    margin-left: 15px;
    font-family: 'Cute Font', cursive;
    font-size: 1.5em;
}

.gif{
    margin-left: 15px;
    border: 2px rgb(102, 70, 102) solid;
    border-radius: 5px;
    width: 267px;
    height: 200px;
}

.displayedGIf{
    float: left;
    text-align: center;
    margin-left: 25px;
}

@media only screen and (max-width: 600px){
    .topic{
        margin-bottom: 10px;
    }

    .displayedGIf{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 375px){
    #add-topic{
        margin-top: 10px;
    }

    .displayedGIf{
        margin-left: 40px;
    }
}